/.dart_tool/
/.idea/
/build/
/.vscode/
!/pubspec.lock
!/.packages
!/.flutter-plugins-dependencies
!/.flutter-plugins
.git.zip
.git
*.keystore
android/keys/codemagic.keystore.old
android/keys/upload-keystore.jks
android/keys/upload-keystore.jks.old
keys/codemagic.keystore.old
keys/upload-keystore.jks
keys/upload-keystore.jks.old
.flutter-plugins-dependencies
